Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-pylint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/executablebooks/jupyter-book
    rev: v0.12.1
    hooks:
      - id: jb-to-sphinx
        args: ["./docs"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: debug-statements
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        exclude: |
          (?x)^(
            ^tests/.*
          )$
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  # - repo: https://github.com/PyCQA/pylint
  #   rev: v2.12.2
  #   hooks:
  #     - id: pylint
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        # args: it looks that by default it uses ignore-missing-imports
        # so, disabling and letting the config from setup.cfg be in charge
        args: []
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.2.2
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      - id: nbqa-pydocstyle
        # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
        # so, removing
        entry: nbqa pydocstyle
      - id: nbqa-flake8
      - id: nbqa-mypy
  - repo: local
    hooks:
      - id: nbqa-pylint
        name: nbqa-pylint
        entry: nbqa pylint
        language: python
        require_serial: true
        types: [jupyter]
        additional_dependencies: [pylint]

Update packages
  pyproject.toml
Due: none

Setup docs - add simple logo
  docs/source/conf.py
  docs/source/figures/rough.png
  docs/source/figures/rough.svg
  docs/source/figures/rough_white.png
Due: pylint

Setup docs - add sphinx_immaterial theme
  docs/source/conf.py
Due: pylint

Remove old docs
  .github/workflows/cicd.yml
  .pre-commit-config.yaml
  docs/_config.yml
  docs/_toc.yml
  docs/conf.py
  docs/diagrams/readme.txt
  docs/diagrams/src/grow_shrink.puml
  docs/examples
  docs/intro.md
  docs/references.bib
  docs/requirements.txt
Due: none

Setup docs - pygments style
  docs/source/conf.py
Due: pylint

Setup docs - remove autosummary
  docs/source/conf.py
Due: pylint

Setup docs - material theme + apidoc
  .gitignore
  docs/source/conf.py
  docs/source/index.md
  docs/source/index.rst
  pyproject.toml
Due: pylint

Setup docs - user autosummary with templates instead of apidoc
  .gitignore
  docs/source/_templates/custom-class.rst.j2
  docs/source/_templates/custom-module.rst.j2
  docs/source/conf.py
  docs/source/index.md
  docs/source/reference.rst
  pyproject.toml
Due: pylint

Setup docs - update custom templates
  docs/source/_templates/custom-base.rst.j2
  docs/source/_templates/custom-class.rst.j2
  docs/source/_templates/custom-module.rst.j2
  docs/source/conf.py
Due: pylint

Add examples link
  docs/source/examples
Due: none

Remove make.bat
  docs/make.bat
Due: none

Setup docs - add intersphinx mapping
  docs/source/conf.py
Due: pylint

Fix get_permutation docs
  src/skrough/permutations.py
Due: pylint

Setup docs - add autodoc type hints
  docs/source/conf.py
Due: pylint

Setup docs
  docs/source/conf.py
Due: pylint

Setup docs - update custom template for module
  docs/source/_templates/custom-module.rst.j2
Due: none

Add sphinx docs
  .pylintrc
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
Due: pylint

Fix feature importance example
  examples/feature_importance.ipynb
Due: nbqa-pylint

Setup docs - add examples - feature importance
  docs/source/examples.md
  docs/source/index.md
Due: none

Add docs requirements.txt
  docs/source/requirements.txt
Due: none

Add rtd config
  .readthedocs.yaml
Due: none

Add rtd - update config
  .readthedocs.yaml
  docs/source/requirements.txt
Due: none

Add rtd - update config
  .readthedocs.yaml
Due: none

Add rtd - poetry
  .readthedocs.yaml
Due: none
