Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .venv/bin/pylint
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - toml
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.1'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]

Add jupytext pre-commit hooks
  .pre-commit-config.yaml
  .pylintrc_examples
  examples/feature_importance.ipynb
  examples/feature_importance.py
  jupytext.toml
Due: pylint, nbqa-mypy

Refactor aggregates docs
  src/skrough/algorithms/meta/aggregates.py
Due: pylint

Refactor checks module docstrings
  src/skrough/dataprep.py
Due: pylint

Ad chaos score docs
  src/skrough/chaos_score.py
Due: pylint

Refactor dataprep docs
  src/skrough/dataprep.py
Due: pylint

Update feature importance example
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Refactor helper functions - normalize_sequence + docs
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/algorithms/meta/processing.py
  tests/algorithms/meta/test_helpers.py
Due: pylint

Add chaos score docs
  src/skrough/chaos_score.py
  src/skrough/structs/chaos_score_stats.py
Due: pylint

Add weights docs
  src/skrough/weights.py
Due: pylint

Add structs docs
  src/skrough/structs/__init__.py
  src/skrough/structs/attrs_subset.py
  src/skrough/structs/chaos_score_stats.py
  src/skrough/structs/objs_attrs_subset.py
Due: pylint

Add gitpython dependency to docs group
  pyproject.toml
Due: none

Refactor Locations type
  src/skrough/chaos_score.py
  src/skrough/checks.py
  src/skrough/feature_importance.py
  src/skrough/homogeneity.py
  src/skrough/rough.py
  src/skrough/structs/attrs_subset.py
  src/skrough/structs/group_index.py
  src/skrough/structs/objs_attrs_subset.py
  src/skrough/typing.py
  src/skrough/unify.py
  tests/test_rough.py
Due: pylint

Update docstrings for unique module
  src/skrough/unique.py
Due: pylint

Add scratchbook
  docs/scratchbook.yaml
Due: none

Fix postBuild script - add src to pythonpath
  .binder/postBuild
Due: none

Remove semantic release dep
  pyproject.toml
Due: none

Add docstrings for unique module
  src/skrough/unique.py
Due: pylint

Rename unify module
  src/skrough/__init__.py
  src/skrough/checks.py
  src/skrough/structs/group_index.py
  src/skrough/unify.py
Due: pylint

Add exceptions docs
  src/skrough/algorithms/exceptions.py
Due: pylint

Refactor instances docs
  src/skrough/instances.py
Due: pylint

Add poetry pre-commit hooks
  .binder/requirements.txt
  .binder/runtime.txt
  .pre-commit-config.yaml
Due: none

Add objs_attrs_subset docs
  src/skrough/structs/objs_attrs_subset.py
Due: pylint

Refactor utils docs
  src/skrough/utils.py
Due: pylint

Add attrs_subset docs
  src/skrough/structs/attrs_subset.py
Due: pylint

Refactor describe docs
  src/skrough/algorithms/meta/describe.py
Due: pylint

Add postBuild script - add src to pythonpath
  .binder/postBuild
Due: none

Rename conflicts_number chaos measure to conflicts_count
  src/skrough/chaos_measures/__init__.py
  src/skrough/chaos_measures/chaos_measures.py
  src/skrough/checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/hooks/test_select_hooks.py
  tests/algorithms/hooks/test_stop_hooks.py
  tests/structs/group_index/test_distribution_and_chaos_score.py
  tests/test_attrs_checks.py
  tests/test_chaos_measures.py
  tests/test_chaos_score.py
  tests/test_checks.py
Due: pylint
