Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

pylint:
  name: pylint
  entry: .venv/bin/pylint
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy
  entry: .venv/bin/nbqa mypy
  language: system
  require_serial: true

Update examples
  .pylintrc_examples
  examples/checks.ipynb
  examples/checks.py
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Add processing example
  examples/README.md
  examples/checks.ipynb
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy

Fix docs building tests
  .github/workflows/cicd.yml
Due: none

Add homogeneity docs
  src/skrough/homogeneity.py
  tests/test_homogeneity.py
Due: pylint

Add docs build to CI
  .github/workflows/cicd.yml
Due: none

Update feature importance example
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-mypy

CI
  .github/workflows/cicd.yml
Due: none

Add docs
  src/skrough/chaos_measures/chaos_measures.py
Due: pylint

Fix visual block tests
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Clear example notebook outputs
  examples/checks.ipynb
Due: nbqa-mypy

CI
  .github/workflows/cicd.yml
  README.md
Due: none

Restore pre-commit
  .pre-commit-config.yaml
Due: none

Add init hooks docs
  .pre-commit-config.yaml
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/names.py
Due: pylint

Enable poetry cacheing in CI
  .gitignore
  poetry.lock
Due: none

Add check functions example
  examples/checks.ipynb
  examples/checks.py
Due: pylint, nbqa-mypy

Add nbconvert + latex/PDF templates
  examples/README.md
  pyproject.toml
Due: none

Setup poetry in CI
  .github/workflows/cicd.yml
Due: none

Refactor
  .pre-commit-config.yaml
  examples/checks.ipynb
  examples/feature_importance.ipynb
  src/skrough/checks.py
  tests/algorithms/test_reduct_ordering.py
  tests/test_checks.py
  tests/test_checks_bireducts.py
Due: pylint, nbqa-mypy

Refactor visual block
  src/skrough/algorithms/meta/visual_block.py
Due: pylint

Add examples toc
  docs/source/examples.md
Due: none

Update sphinx templates
  docs/source/_templates/custom-class.rst.j2
  docs/source/_templates/custom-module.rst.j2
Due: none

Update chaos score docs
  src/skrough/chaos_score.py
Due: pylint

Cleanup feature importance example
  .pre-commit-config.yaml
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Fix typing of multi stage processing
  src/skrough/algorithms/meta/processing.py
Due: pylint

Add names docs
  src/skrough/algorithms/hooks/names.py
Due: pylint

Add homogeneity docs
  src/skrough/homogeneity.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
  docs/conf.py
)$

  nbqa-mypy: any of: \.ipynb$, but not: (?x)^(
  docs/conf.py
)$

