Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-pylint

pylint:
  name: pylint
  entry: pylint
  language: python

nbqa-pylint:
  name: nbqa-pylint
  entry: nbqa pylint
  language: python
  require_serial: true
  additional_dependencies:
  - pylint

Refactor helper functions - normalize_sequence + docs
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/algorithms/meta/processing.py
  tests/algorithms/meta/test_helpers.py
Due: pylint

Add weights docs
  src/skrough/weights.py
Due: pylint

Add docs
  src/skrough/chaos_score.py
  src/skrough/feature_importance.py
  src/skrough/homogeneity.py
  src/skrough/instances.py
  src/skrough/rough.py
  src/skrough/typing.py
Due: pylint

Add choose_objects docs
  src/skrough/dataprep.py
  src/skrough/instances.py
Due: pylint

Add scratchbook
  docs/scratchbook.yaml
Due: none

Refactor permutations docs
  src/skrough/permutations.py
Due: pylint

Refactor instances docs
  src/skrough/instances.py
Due: pylint

Refactor dataprep docs
  src/skrough/dataprep.py
Due: pylint

Add logging
  src/skrough/dataprep.py
  src/skrough/instances.py
Due: pylint

Add attrs_subset docs
  src/skrough/structs/attrs_subset.py
Due: pylint

Add objs_attrs_subset docs
  src/skrough/structs/objs_attrs_subset.py
Due: pylint

Add structs docs
  src/skrough/structs/__init__.py
  src/skrough/structs/attrs_subset.py
  src/skrough/structs/chaos_score_stats.py
  src/skrough/structs/objs_attrs_subset.py
Due: pylint

Refactor docs
  src/skrough/instances.py
  src/skrough/logs.py
  src/skrough/permutations.py
  src/skrough/unique.py
  src/skrough/weights.py
Due: pylint

Refactor utils docs
  src/skrough/utils.py
Due: pylint

Refactor docs
  docs/scratchbook.yaml
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/checks.py
  src/skrough/dataprep.py
  src/skrough/homogeneity.py
  src/skrough/instances.py
  src/skrough/rough.py
  tests/test_homogeneity.py
Due: pylint

Ad chaos score docs
  src/skrough/chaos_score.py
Due: pylint

Add chaos score docs
  src/skrough/chaos_score.py
  src/skrough/structs/chaos_score_stats.py
Due: pylint

Rename conflicts_number chaos measure to conflicts_count
  src/skrough/chaos_measures/__init__.py
  src/skrough/chaos_measures/chaos_measures.py
  src/skrough/checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/hooks/test_select_hooks.py
  tests/algorithms/hooks/test_stop_hooks.py
  tests/structs/group_index/test_distribution_and_chaos_score.py
  tests/test_attrs_checks.py
  tests/test_chaos_measures.py
  tests/test_chaos_score.py
  tests/test_checks.py
Due: pylint

Add chaos score docs
  src/skrough/chaos_score.py
Due: pylint

Add epsilon validation for get_chaos_score_stats + tests
  src/skrough/chaos_score.py
  tests/test_chaos_score.py
Due: pylint

Rename unify module
  src/skrough/__init__.py
  src/skrough/checks.py
  src/skrough/structs/group_index.py
  src/skrough/unify.py
Due: pylint

Refactor Locations type
  src/skrough/chaos_score.py
  src/skrough/checks.py
  src/skrough/feature_importance.py
  src/skrough/homogeneity.py
  src/skrough/rough.py
  src/skrough/structs/attrs_subset.py
  src/skrough/structs/group_index.py
  src/skrough/structs/objs_attrs_subset.py
  src/skrough/typing.py
  src/skrough/unify.py
  tests/test_rough.py
Due: pylint

Add poetry pre-commit hooks
  .binder/requirements.txt
  .binder/runtime.txt
  .pre-commit-config.yaml
Due: none

Update poetry pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add jupytext pre-commit hooks
  .pre-commit-config.yaml
  .pylintrc_examples
  examples/feature_importance.ipynb
  examples/feature_importance.py
  jupytext.toml
Due: pylint, nbqa-pylint

Update sphinx config
  docs/source/conf.py
Due: pylint

Update deps for examples
  .binder/requirements.txt
  pyproject.toml
Due: none

Add postBuild script - add src to pythonpath
  .binder/postBuild
Due: none

Fix postBuild script - add src to pythonpath
  .binder/postBuild
Due: none

Update feature importance example
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-pylint

Add gitpython dependency to docs group
  pyproject.toml
Due: none

Setup binder in docs
  docs/source/conf.py
Due: pylint

Add exceptions docs
  src/skrough/algorithms/exceptions.py
Due: pylint

Add checks module docstrings
  src/skrough/checks.py
Due: pylint

Refactor describe docs
  src/skrough/algorithms/meta/describe.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
  docs/conf.py
)$

  nbqa-pylint: any of: \.ipynb$, but not: (?x)^(
  docs/conf.py
)$

