Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf[.]py
    | data/.*
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        exclude: ^examples/
        entry: .venv/bin/pylint --rcfile .pylintrc
        language: system
        require_serial: true
        types: [python]
  - repo: local
    hooks:
      - id: pylint
        name: pylint_examples
        files: ^examples/
        entry: .venv/bin/pylint --rcfile .pylintrc_examples
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - bandit[toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
        exclude: ^dev/
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-pyupgrade
      - id: nbqa-isort
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
        exclude: ^dev/
  - repo: https://github.com/python-poetry/poetry
    rev: '1.4.0'
    hooks:
      - id: poetry-check
      # - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]
  - repo: https://github.com/mwouts/jupytext
    rev: v1.14.5
    hooks:
    - id: jupytext
      args:
      - --sync
      - --pipe
      - isort - --treat-comment-as-code "# %%"
      - --pipe
      - black
      additional_dependencies:
        - isort==5.10.1 # matches hook
        - black==22.3.0 # matches hook

Remove commented-out code
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
Due: pylint

Change split compress default to False
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/chaos_score.py
  src/skrough/structs/group_index.py
  tests/algorithms/hooks/test_inner_process_hooks.py
Due: pylint

Aim dev
  dev/aim/aaa.ipynb
Due: none

Add unify_locations docs
  src/skrough/unify.py
Due: pylint

Refactor experiments
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/microarrays.ipynb
Due: pylint

Cleanup
  dev/approx_reduct_daar.ipynb
Due: none

Refactor to probes count
  dev/profile/large.py
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/attrs_checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/test_attrs_checks.py
Due: pylint

Add poetry config
  poetry.toml
Due: none

Refactor to verbose_report in compatibility check
  src/skrough/typing.py
Due: pylint

Add docs
  src/skrough/checks.py
Due: pylint

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Toolbox experiments
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
Due: pylint

Add DAAB bireducts
  dev/approx_reduct_daar.ipynb
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/reusables/attrs_daab.py
  tests/algorithms/hooks/test_stop_hooks.py
Due: pylint

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
Due: none

update gitattributes
  .gitattributes
Due: none

Add lint tasks for poe
  pyproject.toml
Due: none

Update poe test tasks
  pyproject.toml
Due: none

Add init hook function docs
  src/skrough/algorithms/hooks/init_hooks.py
Due: pylint

Refactor to inspect keys
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/meta/test_get_keys.py
Due: pylint, nbqa-mypy

Add bireduct greedy heuristic
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/finalize_hooks.py
  tests/algorithms/hooks/test_finalize_state_hooks.py
Due: pylint

Parallel call added
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/reducts.py
Due: pylint

Add DAAR reducts
  dev/approx_reduct_daar.ipynb
  dev/bbb.ipynb
  dev/profile/large.py
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_reduction.py
  tests/algorithms/hooks/test_init_state_hooks.py
Due: pylint, nbqa-mypy

Add synthetic data loaders
  dev/experiments/ranks/data_sources.py
Due: pylint

Add reusables - daar
  src/skrough/algorithms/reusable/__init__.py
  src/skrough/algorithms/reusable/daar.py
Due: pylint

Update version number
  pyproject.toml
Due: none

Update examples-to-pdf readme
  examples/README.md
Due: none

Add raise of NotImplementedError
  src/skrough/typing.py
Due: pylint

dev notebook
  dev/experiments/ranks/microarrays.ipynb
Due: none

Ranks visualization tests
  dev/experiments/ranks_vis/vis.ipynb
Due: none

Add dev temporal bireducts
  .gitignore
  .pre-commit-config.yaml
  dev/temporal_bireducts/evaluation_utils.R
  dev/temporal_bireducts/experiments.R
  dev/temporal_bireducts/experiments_utils.R
  dev/temporal_bireducts/temporal_bireducts.R
  dev/temporal_bireducts/temporal_bireducts_shuffling.R
  dev/todos.py
Due: pylint

remove poetry.lock
  .gitignore
  poetry.lock
Due: none

Microarrays experiments xgboost
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Add n_bins experiments param
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint
