Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .venv/bin/pylint
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - toml
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.1'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]

Refactor to predict_strategy param
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  tests/test_predict.py
Due: pylint

dev notebook
  dev/experiments/ranks/microarrays.ipynb
Due: nbqa-mypy

Remove commented-out code
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
Due: pylint

Add raise of NotImplementedError
  src/skrough/typing.py
Due: pylint

Get predictions from proba refactor
  src/skrough/predict/helpers.py
Due: pylint

Add no-answer strategy
  dev/experiments/ranks/microarrays.ipynb
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  src/skrough/typing.py
  tests/test_predict.py
Due: pylint, nbqa-mypy

Microarrays experiments
  .gitignore
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint, nbqa-mypy

Aim testing
  dev/aim/aaa.ipynb
  dev/aim/bbb.ipynb
Due: nbqa-mypy

Microarrays experiments xgboost
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint, nbqa-mypy

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
Due: nbqa-mypy

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint, nbqa-mypy

Aim dev
  dev/aim/aaa.ipynb
Due: nbqa-mypy

Add get_attr_ranks + refactor
  src/skrough/ranks.py
Due: pylint

Refactor experiments
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/microarrays.ipynb
Due: pylint, nbqa-mypy

Toolbox experiments
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
Due: pylint, nbqa-mypy

Aim tracker testing
  dev/aim/aaa.ipynb
Due: nbqa-mypy

Add skrough TODO - add_shuffled_attrs
  src/skrough/dataprep.py
Due: pylint

Ranks visualization tests
  dev/experiments/ranks_vis/vis.ipynb
Due: nbqa-mypy

Toolbox experiments
  dev/experiments/ranks/experiments.ipynb
Due: nbqa-mypy

Synthetic data generation
  dev/experiments/synthetic_data/synthetic.ipynb
Due: nbqa-mypy

Add synthetic data loaders
  dev/experiments/ranks/data_sources.py
Due: pylint

Fix toolbox data
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
Due: pylint, nbqa-mypy

Experiments
  dev/experiments/ranks/experiments.ipynb
Due: nbqa-mypy

Add n_bins experiments param
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint, nbqa-mypy

Move experiments
  dev/experiments/feature_importance.ipynb
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/ranks_model_scores.py
  dev/experiments/ranks_vis/vis.ipynb
  dev/experiments/synthetic_data/synthetic.ipynb
Due: pylint, nbqa-mypy

Upgrade dependencies
  .binder/requirements.txt
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update multi-stage example title
  .pre-commit-config.yaml
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy

Update version
  pyproject.toml
Due: none

Remove old greedy reducts
  src/skrough/algorithms/reducts.py
Due: pylint

Pylint disable duplicate-code
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/reducts.py
Due: pylint

Update examples-to-pdf readme
  examples/README.md
Due: none
