Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf[.]py
    | data/.*
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        exclude: ^examples/
        entry: .venv/bin/pylint --rcfile .pylintrc
        language: system
        require_serial: true
        types: [python]
  - repo: local
    hooks:
      - id: pylint
        name: pylint_examples
        files: ^examples/
        entry: .venv/bin/pylint --rcfile .pylintrc_examples
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - bandit[toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
        exclude: ^dev/
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-pyupgrade
      - id: nbqa-isort
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
        exclude: ^dev/
  - repo: https://github.com/python-poetry/poetry
    rev: '1.4.0'
    hooks:
      - id: poetry-check
      # - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]
  - repo: https://github.com/mwouts/jupytext
    rev: v1.14.5
    hooks:
    - id: jupytext
      args:
      - --sync
      - --pipe
      - isort - --treat-comment-as-code "# %%"
      - --pipe
      - black
      additional_dependencies:
        - isort==5.10.1 # matches hook
        - black==22.3.0 # matches hook

Update multi-stage example title
  .pre-commit-config.yaml
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy

Experiments
  dev/experiments/ranks/experiments.ipynb
Due: none

Move experiments
  dev/experiments/feature_importance.ipynb
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/ranks_model_scores.py
  dev/experiments/ranks_vis/vis.ipynb
  dev/experiments/synthetic_data/synthetic.ipynb
Due: pylint

Update version number
  pyproject.toml
Due: none

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
Due: none

Upgrade dependencies
  .binder/requirements.txt
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Parallel bireducts greedy
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/bireducts.py
Due: pylint

Disable duplicate-code for reusables
  src/skrough/algorithms/reusables/attrs_daab.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_greedy.py
Due: pylint

Add ranks related functions
  dev/approx_reduct_daar.ipynb
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/microarrays_data.py
  dev/experiments/ranks/ranks_model_scores.py
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/reducts.py
  src/skrough/dataprep.py
  src/skrough/ranks.py
  tests/test_dataprep.py
Due: pylint

remove poetry.lock
  .gitignore
  poetry.lock
Due: none

Add poetry config
  poetry.toml
Due: none

Remove old greedy reducts
  src/skrough/algorithms/reducts.py
Due: pylint

Parallel reducts greedy
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/constants.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/dataprep.py
Due: pylint

Refactor to input_data keys
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/meta/test_get_keys.py
Due: pylint, nbqa-mypy

Aim tracker testing
  dev/aim/aaa.ipynb
Due: none

Add get_attr_ranks + refactor
  src/skrough/ranks.py
Due: pylint

Add n_bins experiments param
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Check commit signing
  README.md
Due: none

Sharp inequality in check_if_attr_better_than_shuffled
  src/skrough/attrs_checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/test_attrs_checks.py
Due: pylint

Add predict functions + refactor
  dev/experiments/ranks/microarrays.ipynb
  src/skrough/__init__.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/predict/__init__.py
  src/skrough/predict/aggregate.py
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  src/skrough/typing.py
  tests/test_predict.py
Due: pylint

Aim dev
  dev/aim/aaa.ipynb
Due: none

Add no-answer strategy
  dev/experiments/ranks/microarrays.ipynb
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  src/skrough/typing.py
  tests/test_predict.py
Due: pylint

Remove old greedy bireducts
  src/skrough/algorithms/bireducts.py
Due: pylint

Restore poetry.lock
  .gitignore
  poetry.lock
Due: none

Add approx reduct greedy heuristic
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/reducts.py
Due: pylint

Refactor to predict_strategy param
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  tests/test_predict.py
Due: pylint

Update get config/input_data/values keys tests
  tests/algorithms/meta/test_get_keys.py
Due: pylint

Add raise of NotImplementedError
  src/skrough/typing.py
Due: pylint

Microarrays experiments
  .gitignore
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Add dev wip old
  dev/wip_old/classify.py.txt
  dev/wip_old/decomposition.py.txt
  dev/wip_old/graph.py.txt
  dev/wip_old/rough.py.txt
  dev/wip_old/stat.py.txt
Due: none

Update docs + introduce check keys-state compatibility
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/structs/state.py
  src/skrough/typing.py
Due: pylint

Refactor profile
  .pre-commit-config.yaml
  dev/profile/fast.py
  dev/profile/large.py
  dev/profile/slower.py
Due: pylint

Parallel call added
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/reducts.py
Due: pylint

Add dev temporal bireducts
  .gitignore
  .pre-commit-config.yaml
  dev/temporal_bireducts/evaluation_utils.R
  dev/temporal_bireducts/experiments.R
  dev/temporal_bireducts/experiments_utils.R
  dev/temporal_bireducts/temporal_bireducts.R
  dev/temporal_bireducts/temporal_bireducts_shuffling.R
  dev/todos.py
Due: pylint
