Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .venv/bin/pylint
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - toml
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.1'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]

Add homogeneity docs
  src/skrough/homogeneity.py
  tests/test_homogeneity.py
Due: pylint

Fix docs building tests
  .github/workflows/cicd.yml
Due: none

Update chaos score docs
  src/skrough/chaos_score.py
Due: pylint

Fix check if bireduct + tests
  src/skrough/checks.py
  tests/test_checks_bireducts.py
Due: pylint

Add chaos measures docs
  src/skrough/chaos_measures/chaos_measures.py
Due: pylint

Add process elements hooks docs
  src/skrough/algorithms/hooks/common/process_elements.py
Due: pylint

Update sphinx templates
  docs/source/_templates/custom-class.rst.j2
  docs/source/_templates/custom-module.rst.j2
Due: none

CI
  .github/workflows/cicd.yml
Due: none

Add examples toc
  docs/source/examples.md
Due: none

Add process elements hooks docs
  src/skrough/algorithms/hooks/common/process_elements.py
  tests/algorithms/hooks/common/test_process_elements_hooks.py
Due: pylint

Add homogeneity docs
  src/skrough/homogeneity.py
Due: pylint

Add processing example
  examples/README.md
  examples/checks.ipynb
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy

Make config key defined in create_process_elements_hook_random_choice non optional
  src/skrough/algorithms/hooks/common/process_elements.py
Due: pylint

Process elements hooks tests
  tests/algorithms/hooks/common/test_process_elements_hooks.py
Due: pylint

Process elements hooks docs
  src/skrough/algorithms/hooks/common/process_elements.py
Due: pylint

Use attrs instead of dataclasses
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/meta/describe.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint, nbqa-mypy

Refactor to get_description method
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Refactor to get_description_graph method
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Refactor description graph
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/hooks/finalize_hooks.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/inner_init_hooks.py
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/hooks/pre_candidates_hooks.py
  src/skrough/algorithms/hooks/prepare_result_hooks.py
  src/skrough/algorithms/hooks/select_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/typing.py
  tests/algorithms/hooks/helpers.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/algorithms/hooks/test_finalize_state_hooks.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/hooks/test_inner_init_hooks.py
  tests/algorithms/hooks/test_inner_process_hooks.py
  tests/algorithms/hooks/test_pre_candidates_hooks.py
  tests/algorithms/hooks/test_prepare_result_hooks.py
  tests/algorithms/hooks/test_select_hooks.py
  tests/algorithms/hooks/test_stop_hooks.py
  tests/algorithms/meta/test_aggregates.py
Due: pylint, nbqa-mypy

Refactor description graph
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
Due: pylint

Add get config/input/values keys
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
Due: pylint

Refactor - use method names
  src/skrough/algorithms/meta/describe.py
Due: pylint

Refactor DescriptionNode structures
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/algorithms/meta/visual_block.py
  src/skrough/structs/description_node.py
  src/skrough/typing.py
  tests/algorithms/meta/helpers.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Add keys tests
  tests/algorithms/meta/test_get_keys.py
Due: pylint

Update examples
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy
