Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-pylint

pylint:
  name: pylint
  entry: pylint
  language: python

nbqa-pylint:
  name: nbqa-pylint
  entry: nbqa pylint
  language: python
  require_serial: true
  additional_dependencies:
  - pylint

docs: Add feature importance example
  docs/_toc.yml
  docs/examples
  examples/feature_importance.ipynb
Due: nbqa-pylint

build: Configure pre-commit hooks - pylint
  .pre-commit-config.yaml
Due: none

build: Configure pre-commit hooks - mypy
  .pre-commit-config.yaml
  setup.cfg
Due: none

build: Define poe tasks - test, testcov, etc.
  pyproject.toml
Due: none

build: Configure pre-commit hooks - disable pylint, pydocstyle
  .pre-commit-config.yaml
  setup.cfg
Due: none

tests: Add test to increase coverage - dataprep
  .pre-commit-config.yaml
  pyproject.toml
  src/skrough/__init__.py
  src/skrough/data.py
  src/skrough/dataprep.py
  tests/conftest.py
  tests/test_dataprep.py
Due: pylint

build: Update pylint disable setting
  setup.cfg
Due: none

refactor: Fix var names in tests for dataprep
  tests/test_dataprep.py
Due: pylint

test: Add tests to increase coverage - chaos_score
  src/skrough/__init__.py
  tests/test_chaos_score.py
Due: pylint

test: Add tests to increase coverage - group_index
  src/skrough/__init__.py
  src/skrough/group_index.py
  tests/more.py
  tests/test_group_index.py
Due: pylint

build: Add cov-branch to poe tasks
  pyproject.toml
Due: none

test: Add tests to increase coverage - feature_importance
  src/skrough/__init__.py
  src/skrough/feature_importance.py
  tests/test_feature_importance.py
Due: pylint

test: Add tests to increase coverage - entropy
  tests/test_measures.py
Due: pylint

chore: Remove finished TODO
  tests/test_measures.py
Due: pylint

build: Add pre-commit configurations - linters, style checkers
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

build: Define poe tasks - test, testcov, etc. (#8)
  pyproject.toml
Due: none

ci: Disable numba to produce correct coverage report
  .github/workflows/cicd.yml
Due: none

feat: Add data preparation function
  src/skrough/__init__.py
  src/skrough/data.py
  src/skrough/dataprep.py
  src/skrough/feature_importance.py
  src/skrough/group_index.py
Due: pylint

test: Add tests to increase coverage
  tests/conftest.py
  tests/more.py
  tests/test_chaos_score.py
  tests/test_dataprep.py
  tests/test_feature_importance.py
  tests/test_group_index.py
  tests/test_instances.py
  tests/test_measures.py
Due: pylint

test: Add tests to increase coverage (#11)
  tests/conftest.py
  tests/more.py
  tests/test_chaos_score.py
  tests/test_dataprep.py
  tests/test_feature_importance.py
  tests/test_group_index.py
  tests/test_instances.py
  tests/test_measures.py
Due: pylint

docs: Add feature importance usage example
  docs/_toc.yml
  docs/examples
  examples/feature_importance.ipynb
Due: nbqa-pylint

docs: Add feature importance usage example (#12)
  docs/_toc.yml
  docs/examples
  examples/feature_importance.ipynb
Due: nbqa-pylint

Add reduct - greedy heuristic
  examples/compute_feature_importance.py
  examples/feature_importance.ipynb
  pyproject.toml
  src/skrough/__init__.py
  src/skrough/base.py
  src/skrough/chaos_score.py
  src/skrough/feature_importance.py
  src/skrough/reducts.py
  tests/test_chaos_score.py
Due: pylint, nbqa-pylint

Add typing
  src/skrough/__init__.py
  src/skrough/base.py
  src/skrough/group_index.py
  src/skrough/measures.py
  src/skrough/reducts.py
  src/skrough/typing.py
Due: pylint

Go back to np.ndarray types
  src/skrough/group_index.py
  src/skrough/measures.py
  src/skrough/reducts.py
  src/skrough/typing.py
Due: pylint

Add GroupIndex
  src/skrough/__init__.py
  src/skrough/base.py
  src/skrough/chaos_score.py
  src/skrough/distributions.py
  src/skrough/group_index.py
  src/skrough/reducts.py
  src/skrough/struct.py
  src/skrough/typing.py
  tests/test_group_index.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
  docs/conf.py
)$

  nbqa-pylint: any of: \.ipynb$, but not: (?x)^(
  docs/conf.py
)$

