Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

pylint:
  name: pylint
  entry: .venv/bin/pylint
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy
  entry: .venv/bin/nbqa mypy
  language: system
  require_serial: true

Refactor dev
  dev/msprocessing.ipynb
Due: nbqa-mypy

Add data
  .gitignore
  .pre-commit-config.yaml
  data/data.py
  data/data/SPECT.names
  data/data/SPECT.test
  data/data/SPECT.train
  data/data/SPECTF.test
  data/data/SPECTF.train
  data/data/lymphography.all
  data/data/lymphography.data
  data/data/lymphography.names
  data/data/lymphography.test
  data/data/zoo.all
  data/data/zoo.data
  data/data/zoo.names
  data/data/zoo.small.names
  data/data/zoo.test
  data/resources/golf.csv
  data/resources/lymphography.data
  data/resources/lymphography.names
  data/resources/methane_data.csv
  data/resources/methane_labels.csv
  data/resources/zoo.data
  data/resources/zoo.names
Due: pylint

Refactor dev - toolbox_1
  dev/toolbox/toolbox_1/evaluate_bireducts_delta.ipynb
  dev/toolbox/toolbox_1/evaluate_bireducts_simple.ipynb
  dev/toolbox/toolbox_1/evaluate_bireducts_simple_2.ipynb
  dev/toolbox/toolbox_1/experiments-daab.ipynb
  dev/toolbox/toolbox_1/experiments-logging.ipynb
  dev/toolbox/toolbox_1/experiments.ipynb
  dev/toolbox/toolbox_1/reordered_evaluate_bireducts.ipynb
  dev/toolbox/toolbox_1/reordered_view_evals.ipynb
  dev/toolbox/toolbox_1/show.ipynb
  dev/toolbox/toolbox_1/view_evals.ipynb
  dev/toolbox/toolbox_1/xgboost-native.ipynb
  dev/toolbox/toolbox_1/xgboost-training.ipynb
  dev/toolbox/toolbox_1/xgboost.ipynb
Due: nbqa-mypy

Refactor dev - toolbox_2
  dev/toolbox/toolbox_2/auc_vals.csv
  dev/toolbox/toolbox_2/bireducts_scores.csv
  dev/toolbox/toolbox_2/bireducts_scores_3.csv
  dev/toolbox/toolbox_2/config.py
  dev/toolbox/toolbox_2/correlation_scores.csv
  dev/toolbox/toolbox_2/experiments-2.ipynb
  dev/toolbox/toolbox_2/experiments-3.ipynb
  dev/toolbox/toolbox_2/experiments-daab.ipynb
  dev/toolbox/toolbox_2/experiments-logging.ipynb
  dev/toolbox/toolbox_2/experiments-xgboost.ipynb
  dev/toolbox/toolbox_2/ranks-3-1.ipynb
  dev/toolbox/toolbox_2/ranks-3-2.ipynb
  dev/toolbox/toolbox_2/show-2.ipynb
  dev/toolbox/toolbox_2/show-3.ipynb
  dev/toolbox/toolbox_2/show.ipynb
  dev/toolbox/toolbox_2/xgboost_scores_2.csv
  dev/toolbox/toolbox_2/xgboost_scores_3.csv
  dev/toolbox/toolbox_2/xgboost_scores_5.csv
Due: pylint, nbqa-mypy

Refactor dev - toolbox_3
  dev/toolbox/toolbox_3/compute_bireducts.ipynb
  dev/toolbox/toolbox_3/compute_bireducts_daab.ipynb
  dev/toolbox/toolbox_3/evaluate_bireducts_delta.ipynb
  dev/toolbox/toolbox_3/evaluate_bireducts_simple.ipynb
  dev/toolbox/toolbox_3/evaluate_bireducts_simple_2.ipynb
  dev/toolbox/toolbox_3/experiments.ipynb
  dev/toolbox/toolbox_3/reordered_evaluate_bireducts.ipynb
  dev/toolbox/toolbox_3/reordered_view_evals.ipynb
  dev/toolbox/toolbox_3/show.ipynb
Due: nbqa-mypy

Refactor dev - toolbox_4
  dev/toolbox/toolbox_4/Untitled1.ipynb
  dev/toolbox/toolbox_4/compute_bireducts_daab.ipynb
  dev/toolbox/toolbox_4/evaluate_bireducts_delta.ipynb
  dev/toolbox/toolbox_4/experiments-daab.ipynb
  dev/toolbox/toolbox_4/experiments-logging.ipynb
  dev/toolbox/toolbox_4/view_evals.ipynb
Due: nbqa-mypy

update gitignore
  .gitignore
Due: none

update gitattributes
  .gitattributes
Due: none

Refactor data
  data/data.py
  data/data/SPECT.names
  data/data/SPECT.test
  data/data/SPECT.train
  data/data/SPECTF.test
  data/data/SPECTF.train
  data/data/lymphography.all
  data/data/lymphography.data
  data/data/lymphography.names
  data/data/lymphography.test
  data/data/zoo.all
  data/data/zoo.data
  data/data/zoo.names
  data/data/zoo.small.names
  data/data/zoo.test
  data/resources/golf.csv
  data/resources/lymphography.data
  data/resources/lymphography.names
  data/resources/methane_data.csv
  data/resources/methane_labels.csv
  data/resources/zoo.data
  data/resources/zoo.names
Due: pylint

Change split compress default to False
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/chaos_score.py
  src/skrough/structs/group_index.py
  tests/algorithms/hooks/test_inner_process_hooks.py
Due: pylint

Refactor keys
  src/skrough/algorithms/key_names.py
Due: pylint

Fix docs
  src/skrough/algorithms/hooks/common/process_elements.py
Due: pylint

Add reusables - daar
  src/skrough/algorithms/reusable/__init__.py
  src/skrough/algorithms/reusable/daar.py
Due: pylint

Add attr reduction stage
  dev/bbb.ipynb
  dev/reduction.ipynb
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/hooks/helpers.py
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/hooks/inner_stop_hooks.py
  src/skrough/algorithms/hooks/pre_candidates_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reusables/__init__.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_greedy.py
  src/skrough/algorithms/reusables/attrs_reduction.py
Due: pylint, nbqa-mypy

Update pre-commit config
  .binder/requirements.txt
  .flake8
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc_examples
  dev/bbb.ipynb
Due: nbqa-mypy

Add approx reduct greedy heuristic
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/reducts.py
Due: pylint, nbqa-mypy

Add bireduct greedy heuristic
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/finalize_hooks.py
  tests/algorithms/hooks/test_finalize_state_hooks.py
Due: pylint, nbqa-mypy

Pylint disable duplicate-code
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/reducts.py
Due: pylint

Parallel reducts greedy
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/constants.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/dataprep.py
Due: pylint, nbqa-mypy

Parallel call added
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/reducts.py
Due: pylint, nbqa-mypy

Parallel bireducts greedy
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/bireducts.py
Due: pylint, nbqa-mypy

Remove old greedy reducts
  src/skrough/algorithms/reducts.py
Due: pylint

Remove old greedy bireducts
  src/skrough/algorithms/bireducts.py
Due: pylint

Sharp inequality in check_if_attr_better_than_shuffled
  src/skrough/attrs_checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/test_attrs_checks.py
Due: pylint

Refactor to probes count
  dev/profile/large.py
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/attrs_checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/test_attrs_checks.py
Due: pylint

Add DAAR reducts
  dev/approx_reduct_daar.ipynb
  dev/bbb.ipynb
  dev/profile/large.py
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_reduction.py
  tests/algorithms/hooks/test_init_state_hooks.py
Due: pylint, nbqa-mypy

Add DAAB bireducts
  dev/approx_reduct_daar.ipynb
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/reusables/attrs_daab.py
  tests/algorithms/hooks/test_stop_hooks.py
Due: pylint, nbqa-mypy

Add feature importance for bireducts
  .pylintrc
  src/skrough/feature_importance.py
  tests/test_feature_importance.py
Due: pylint

Cleanup
  dev/approx_reduct_daar.ipynb
Due: nbqa-mypy

Fix n_bireducts argument name
  src/skrough/algorithms/bireducts.py
Due: pylint

Add alternative impl for feature importance
  dev/experiments/feature_importance.ipynb
  tests/test_feature_importance.py
Due: pylint, nbqa-mypy

Add ranks related functions
  dev/approx_reduct_daar.ipynb
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/microarrays_data.py
  dev/experiments/ranks/ranks_model_scores.py
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/reducts.py
  src/skrough/dataprep.py
  src/skrough/ranks.py
  tests/test_dataprep.py
Due: pylint, nbqa-mypy

Microarray experiments
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/microarrays_data.py
  dev/experiments/ranks/ranks_model_scores.py
  src/skrough/algorithms/bireducts.py
Due: pylint, nbqa-mypy

Add predict for bireduct ensemble
  dev/experiments/ranks/microarrays.ipynb
  src/skrough/predict.py
  tests/test_predict.py
Due: pylint, nbqa-mypy

Disable duplicate-code for reusables
  src/skrough/algorithms/reusables/attrs_daab.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_greedy.py
Due: pylint

Add lint tasks for poe
  pyproject.toml
Due: none

Add predict functions + refactor
  dev/experiments/ranks/microarrays.ipynb
  src/skrough/__init__.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/predict/__init__.py
  src/skrough/predict/aggregate.py
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  src/skrough/typing.py
  tests/test_predict.py
Due: pylint, nbqa-mypy

Update poe test tasks
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: (?x)^(
  docs/conf.py
)$

  nbqa-mypy: any of: \.ipynb$, but not: (?x)^(
  docs/conf.py
)$

