Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

pylint:
  name: pylint_examples
  entry: .venv/bin/pylint --rcfile .pylintrc_examples
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy
  entry: .venv/bin/nbqa mypy
  language: system
  require_serial: true

Cleanup
  .pre-commit-config.yaml
Due: none

Cleanup
  tox.ini
Due: none

Cleanup
  .gitignore
Due: none

Cleanup
  .binder/requirements.txt
  poetry.lock
  pyproject.toml
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/predict/helpers.py
  src/skrough/structs/attrs_subset.py
  src/skrough/structs/description_node.py
  src/skrough/structs/disorder_score_stats.py
  src/skrough/structs/group_index.py
  src/skrough/structs/objs_attrs_subset.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Cleanup
  src/skrough/checks.py
Due: pylint

Cleanup
  .github/workflows/cicd.yml
Due: none

Cleanup
  .github/workflows/cicd.yml
  .gitignore
  poetry.lock
  pyproject.toml
Due: none

Cleanup
  poetry.lock
  pyproject.toml
Due: none

Cleanup
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/algorithms/meta/visual_block.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Cleanup
  .pre-commit-config.yaml
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/checks.py
  src/skrough/disorder_score.py
  src/skrough/feature_importance.py
  src/skrough/instances.py
  src/skrough/logs.py
  src/skrough/permutations.py
  src/skrough/structs/description_node.py
  src/skrough/structs/disorder_score_stats.py
  src/skrough/structs/group_index.py
  src/skrough/structs/state.py
  src/skrough/typing.py
  src/skrough/weights.py
  tests/algorithms/meta/test_aggregates.py
  tests/test_predict.py
Due: pylint

Cleanup
  src/skrough/algorithms/meta/describe.py
Due: pylint

Cleanup
  .pylintrc
  .pylintrc_examples
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  poetry.lock
  pyproject.toml
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/structs/description_node.py
  src/skrough/typing.py
  tests/algorithms/hooks/test_select_hooks.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_get_keys.py
  tests/algorithms/meta/test_processing.py
  tests/test_checks.py
Due: pylint, nbqa-mypy

Cleanup
  poetry.lock
  src/skrough/algorithms/hooks/common/__init__.py
Due: pylint

Cleanup
  examples/processing_multi_stage.ipynb
Due: nbqa-mypy

Cleanup
  .binder/requirements.txt
  examples/feature_importance.ipynb
  examples/feature_importance.py
  poetry.lock
  pyproject.toml
Due: pylint, nbqa-mypy

Cleanup
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/disorder_measures/gini_impurity_cython.pyx
  src/skrough/predict/aggregate.py
  src/skrough/typing.py
Due: pylint

Cleanup
  src/skrough/algorithms/meta/helpers.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_greedy.py
  src/skrough/algorithms/reusables/attrs_reduction.py
  src/skrough/algorithms/reusables/objs_choose.py
  src/skrough/typing.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_helpers.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
Due: pylint

Cleanup
  src/skrough/instances.py
  src/skrough/unique.py
  tests/test_unique.py
Due: pylint

Cleanup
  src/skrough/checks.py
  src/skrough/disorder_measures/disorder_measures.py
  src/skrough/disorder_score.py
  src/skrough/feature_importance.py
  src/skrough/homogeneity.py
  src/skrough/rough.py
  src/skrough/structs/attrs_subset.py
  src/skrough/structs/group_index.py
  src/skrough/structs/objs_attrs_subset.py
  src/skrough/typing.py
  src/skrough/unify.py
  tests/test_rough.py
Due: pylint

Cleanup
  src/skrough/structs/objs_attrs_subset.py
Due: pylint

Path conditions:
  pylint: (any of: \.py$ and not (^examples/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)) or (any of: ^examples/ and \.py$ and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
))
  nbqa-mypy: any of: \.ipynb$ and not (^dev/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)
