Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-pylint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/executablebooks/jupyter-book
    rev: v0.12.1
    hooks:
      - id: jb-to-sphinx
        args: ["./docs"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: debug-statements
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        exclude: |
          (?x)^(
            ^tests/.*
          )$
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  # - repo: https://github.com/PyCQA/pylint
  #   rev: v2.12.2
  #   hooks:
  #     - id: pylint
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        # args: it looks that by default it uses ignore-missing-imports
        # so, disabling and letting the config from setup.cfg be in charge
        args: []
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.2.2
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      - id: nbqa-pydocstyle
        # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
        # so, removing
        entry: nbqa pydocstyle
      - id: nbqa-flake8
      - id: nbqa-mypy
  - repo: local
    hooks:
      - id: nbqa-pylint
        name: nbqa-pylint
        entry: nbqa pylint
        language: python
        require_serial: true
        types: [jupyter]
        additional_dependencies: [pylint]

Refactor prepare result hooks
  src/skrough/algorithms/hooks/hooks.py
Due: pylint

Update dependencies + downgrade click for black
  pyproject.toml
Due: none

Add shadow attrs generator
  src/skrough/dataprep.py
Due: pylint

Add shadow attrs generation function + tests
  src/skrough/dataprep.py
  tests/conftest.py
  tests/test_dataprep.py
Due: pylint

Add predict functions for bireduct models
  src/skrough/dataprep.py
  src/skrough/predict.py
  tests/test_predict.py
Due: pylint

Remove old code
  src/skrough/tmp.py
Due: pylint

Add autodoc in docs
  docs/_config.yml
  docs/conf.py
Due: none

Add return type to predict function
  src/skrough/predict.py
Due: pylint

Fix feature importance example
  examples/feature_importance.ipynb
Due: nbqa-pylint

Add logging to hook functions
  src/skrough/algorithms/hooks/hooks.py
Due: pylint

Add grow-shrink diagram
  docs/diagrams/src/grow_shrink.puml
Due: none

Update grow-shrink diagram
  docs/diagrams/readme.txt
  docs/diagrams/src/grow_shrink.puml
Due: none

Refactor check functions
  src/skrough/checks.py
Due: pylint

Refactor code - split hook functions into separate modules
  src/skrough/algorithms/hooks/__init__.py
  src/skrough/algorithms/hooks/finalize_state.py
  src/skrough/algorithms/hooks/grow_candidates.py
  src/skrough/algorithms/hooks/grow_entitled.py
  src/skrough/algorithms/hooks/grow_post_select.py
  src/skrough/algorithms/hooks/grow_select.py
  src/skrough/algorithms/hooks/grow_stop.py
  src/skrough/algorithms/hooks/hooks.py
  src/skrough/algorithms/hooks/init_state.py
  src/skrough/algorithms/hooks/names.py
  src/skrough/algorithms/hooks/prepare_results.py
  src/skrough/algorithms/hooks/shrink_accept.py
  src/skrough/algorithms/hooks/shrink_candidates.py
  src/skrough/algorithms/hooks/utils.py
  src/skrough/algorithms/meta/exceptions.py
  src/skrough/algorithms/meta/grow_shrink.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/logs.py
  src/skrough/structs/state.py
  src/skrough/typing.py
Due: pylint

Refactor code - hook functions and meta algorithms
  src/skrough/algorithms/exceptions.py
  src/skrough/algorithms/hooks/__init__.py
  src/skrough/algorithms/hooks/finalize_state.py
  src/skrough/algorithms/hooks/grow_candidates.py
  src/skrough/algorithms/hooks/grow_entitled.py
  src/skrough/algorithms/hooks/grow_post_select.py
  src/skrough/algorithms/hooks/grow_pre_candidates.py
  src/skrough/algorithms/hooks/grow_select.py
  src/skrough/algorithms/hooks/grow_stop.py
  src/skrough/algorithms/hooks/init_state.py
  src/skrough/algorithms/hooks/names.py
  src/skrough/algorithms/hooks/prepare_results.py
  src/skrough/algorithms/hooks/shrink_accept.py
  src/skrough/algorithms/hooks/shrink_candidates.py
  src/skrough/algorithms/meta/grow_shrink.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/structs/state.py
  src/skrough/typing.py
Due: pylint

Refactor code - hook functions and meta algorithms
  src/skrough/algorithms/hooks/__init__.py
  src/skrough/algorithms/hooks/grow_candidates.py
  src/skrough/algorithms/hooks/grow_inner_init.py
  src/skrough/algorithms/hooks/grow_inner_process.py
  src/skrough/algorithms/hooks/grow_inner_stop.py
  src/skrough/algorithms/hooks/grow_pre_candidates.py
  src/skrough/algorithms/hooks/grow_select.py
  src/skrough/algorithms/hooks/grow_stop.py
  src/skrough/algorithms/hooks/grow_verify.py
  src/skrough/algorithms/hooks/shrink_inner_init.py
  src/skrough/algorithms/hooks/shrink_inner_process.py
  src/skrough/algorithms/hooks/shrink_inner_stop.py
  src/skrough/algorithms/hooks/shrink_pre_candidates.py
  src/skrough/algorithms/hooks/shrink_select.py
  src/skrough/algorithms/hooks/shrink_verify.py
  src/skrough/algorithms/meta/grow_shrink.py
  src/skrough/algorithms/meta/grow_shrink_2.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/algorithms/meta/loop.py
  src/skrough/typing.py
Due: pylint

Refactor code - hook functions and meta algorithms
  src/skrough/algorithms/hooks/__init__.py
  src/skrough/algorithms/hooks/candidates_hooks.py
  src/skrough/algorithms/hooks/common_hooks.py
  src/skrough/algorithms/hooks/finalize_state_hooks.py
  src/skrough/algorithms/hooks/grow_inner_init.py
  src/skrough/algorithms/hooks/grow_inner_process.py
  src/skrough/algorithms/hooks/init_state_hooks.py
  src/skrough/algorithms/hooks/inner_init_hooks.py
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/hooks/inner_stop_hooks.py
  src/skrough/algorithms/hooks/names.py
  src/skrough/algorithms/hooks/pre_candidates_hooks.py
  src/skrough/algorithms/hooks/prepare_result_hooks.py
  src/skrough/algorithms/hooks/select_hooks.py
  src/skrough/algorithms/hooks/shrink_accept.py
  src/skrough/algorithms/hooks/shrink_inner_init.py
  src/skrough/algorithms/hooks/shrink_inner_process.py
  src/skrough/algorithms/hooks/shrink_inner_stop.py
  src/skrough/algorithms/hooks/shrink_pre_candidates.py
  src/skrough/algorithms/hooks/shrink_select.py
  src/skrough/algorithms/hooks/shrink_verify.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/hooks/verify_hooks.py
  src/skrough/algorithms/meta/grow_shrink.py
  src/skrough/algorithms/meta/grow_shrink_2.py
  src/skrough/algorithms/meta/grow_shrink_3.py
Due: pylint

Refactor code - introduce processing stages
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/meta/grow_shrink.py
  src/skrough/algorithms/meta/helpers.py
  src/skrough/algorithms/meta/loop.py
  src/skrough/logs.py
  src/skrough/typing.py
Due: pylint

Refactor code - state.values names
  src/skrough/algorithms/hooks/candidates_hooks.py
  src/skrough/algorithms/hooks/finalize_state_hooks.py
  src/skrough/algorithms/hooks/init_state_hooks.py
  src/skrough/algorithms/hooks/inner_init_hooks.py
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/hooks/names.py
  src/skrough/algorithms/hooks/pre_candidates_hooks.py
  src/skrough/algorithms/hooks/prepare_result_hooks.py
  src/skrough/algorithms/hooks/select_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/hooks/verify_hooks.py
  src/skrough/algorithms/meta/loop.py
  src/skrough/chaos_score.py
  src/skrough/const.py
Due: pylint

Add GroupIndex n_objects property
  src/skrough/chaos_score.py
  src/skrough/structs/group_index.py
Due: pylint
