Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .venv/bin/pylint
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - toml
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.1'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]

Restore pre-commit
  .pre-commit-config.yaml
Due: none

Fix check if bireduct + tests
  src/skrough/checks.py
  tests/test_checks_bireducts.py
Due: pylint

Update examples
  .pylintrc_examples
  examples/checks.ipynb
  examples/checks.py
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Refactor visual block
  src/skrough/algorithms/meta/visual_block.py
Due: pylint

Fix typing of multi stage processing
  src/skrough/algorithms/meta/processing.py
Due: pylint

Add processing example
  examples/README.md
  examples/checks.ipynb
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy

Add examples toc
  docs/source/examples.md
Due: none

Fix visual block tests
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Add docs build to CI
  .github/workflows/cicd.yml
Due: none

Add poetry cacheing
  .github/workflows/cicd.yml
Due: none

Enable poetry cacheing in CI
  .gitignore
  poetry.lock
Due: none

Setup poetry in CI
  .github/workflows/cicd.yml
Due: none

Fix docs building tests
  .github/workflows/cicd.yml
Due: none

CI
  .github/workflows/cicd.yml
Due: none

CI
  README.md
Due: none

CI
  .github/workflows/cicd.yml
  README.md
Due: none

Improve examples readme
  examples/README.md
Due: none

Clear example notebook outputs
  examples/checks.ipynb
Due: nbqa-mypy

Add process elements hooks docs
  src/skrough/algorithms/hooks/common/process_elements.py
Due: pylint

Update feature importance example
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Refactor
  .pre-commit-config.yaml
  examples/checks.ipynb
  examples/feature_importance.ipynb
  src/skrough/checks.py
  tests/algorithms/test_reduct_ordering.py
  tests/test_checks.py
  tests/test_checks_bireducts.py
Due: pylint, nbqa-mypy

Add init hooks docs
  .pre-commit-config.yaml
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/names.py
Due: pylint

Cleanup feature importance example
  .pre-commit-config.yaml
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Add chaos measures docs
  src/skrough/chaos_measures/chaos_measures.py
Due: pylint

Add names docs
  src/skrough/algorithms/hooks/names.py
Due: pylint
