Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .venv/bin/pylint
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - toml
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.1'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]

Add docs to utils module
  src/skrough/utils.py
Due: pylint

Add chaos score docs
  src/skrough/chaos_score.py
Due: pylint

Add gitpython dependency to docs group
  pyproject.toml
Due: none

Refactor Locations type
  src/skrough/chaos_score.py
  src/skrough/checks.py
  src/skrough/feature_importance.py
  src/skrough/homogeneity.py
  src/skrough/rough.py
  src/skrough/structs/attrs_subset.py
  src/skrough/structs/group_index.py
  src/skrough/structs/objs_attrs_subset.py
  src/skrough/typing.py
  src/skrough/unify.py
  tests/test_rough.py
Due: pylint

Refactor permutations docs
  src/skrough/permutations.py
Due: pylint

Update poetry groups deps + rtd
  .readthedocs.yaml
  pyproject.toml
Due: none

Add logging
  src/skrough/dataprep.py
  src/skrough/instances.py
Due: pylint

Add docs badge
  README.md
Due: none

Update sphinx config for rtd
  docs/source/conf.py
Due: pylint

Add sphinx book theme docs dependency
  pyproject.toml
Due: none

Set notebook interface in conf.py
  docs/source/conf.py
Due: pylint

Update feature importance example
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Add homogeneity docs
  src/skrough/homogeneity.py
Due: pylint

Add homogeneity docs
  src/skrough/homogeneity.py
  tests/test_homogeneity.py
Due: pylint

Add process elements hooks docs
  src/skrough/algorithms/hooks/common/process_elements.py
Due: pylint

Add process elements hooks docs
  src/skrough/algorithms/hooks/common/process_elements.py
  tests/algorithms/hooks/common/test_process_elements_hooks.py
Due: pylint

Update chaos score docs
  src/skrough/chaos_score.py
Due: pylint

Update sphinx templates
  docs/source/_templates/custom-class.rst.j2
  docs/source/_templates/custom-module.rst.j2
Due: none

Add init hooks docs
  .pre-commit-config.yaml
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/names.py
Due: pylint

Add names docs
  src/skrough/algorithms/hooks/names.py
Due: pylint

Add chaos measures docs
  src/skrough/chaos_measures/chaos_measures.py
Due: pylint

Add nbconvert + latex/PDF templates
  examples/README.md
  pyproject.toml
Due: none

Cleanup feature importance example
  .pre-commit-config.yaml
  examples/feature_importance.ipynb
  examples/feature_importance.py
Due: pylint, nbqa-mypy

Add check functions example
  examples/checks.ipynb
  examples/checks.py
Due: pylint, nbqa-mypy

Clear example notebook outputs
  examples/checks.ipynb
Due: nbqa-mypy

Add docs
  src/skrough/chaos_measures/chaos_measures.py
Due: pylint

Refactor
  .pre-commit-config.yaml
  examples/checks.ipynb
  examples/feature_importance.ipynb
  src/skrough/checks.py
  tests/algorithms/test_reduct_ordering.py
  tests/test_checks.py
  tests/test_checks_bireducts.py
Due: pylint, nbqa-mypy
