Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    docs/conf.py
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  # - repo: https://github.com/PyCQA/pydocstyle
  #   rev: 6.1.1
  #   hooks:
  #     - id: pydocstyle
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .venv/bin/pylint
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        entry: bandit -c pyproject.toml
        additional_dependencies:
          - toml
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        require_serial: true
        'types_or': [python, pyi]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-isort
      - id: nbqa-pyupgrade
      - id: nbqa-black
      # - id: nbqa-pydocstyle
      #   # entry: looks that the default "nbqa pydocstyle -i" may have a wrong flag
      #   # so, removing
      #   entry: nbqa pydocstyle
      - id: nbqa-flake8
  # - repo: local
  #   hooks:
  #     - id: nbqa-pylint
  #       name: nbqa-pylint
  #       entry: .venv/bin/nbqa pylint
  #       language: system
  #       require_serial: true
  #       types: [jupyter]
  - repo: local
    hooks:
      - id: nbqa-mypy
        name: nbqa-mypy
        entry: .venv/bin/nbqa mypy
        language: system
        require_serial: true
        types: [jupyter]
  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.1'
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        files: ^(pyproject.toml|.binder/requirements.txt)$
        args: ["-f", "requirements.txt", "-o", ".binder/requirements.txt"]

Refactor description graph
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
Due: pylint

Refactor - use method names
  src/skrough/algorithms/meta/describe.py
Due: pylint

Use attrs instead of dataclasses
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/meta/describe.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint, nbqa-mypy

Refactor description graph
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/hooks/finalize_hooks.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/inner_init_hooks.py
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/hooks/pre_candidates_hooks.py
  src/skrough/algorithms/hooks/prepare_result_hooks.py
  src/skrough/algorithms/hooks/select_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/typing.py
  tests/algorithms/hooks/helpers.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/algorithms/hooks/test_finalize_state_hooks.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/hooks/test_inner_init_hooks.py
  tests/algorithms/hooks/test_inner_process_hooks.py
  tests/algorithms/hooks/test_pre_candidates_hooks.py
  tests/algorithms/hooks/test_prepare_result_hooks.py
  tests/algorithms/hooks/test_select_hooks.py
  tests/algorithms/hooks/test_stop_hooks.py
  tests/algorithms/meta/test_aggregates.py
Due: pylint, nbqa-mypy

Update examples
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy

Refactor to get_description method
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Refactor to get_description_graph method
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_processing.py
  tests/algorithms/meta/test_stage.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Refactor DescriptionNode structures
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/algorithms/meta/visual_block.py
  src/skrough/structs/description_node.py
  src/skrough/typing.py
  tests/algorithms/meta/helpers.py
  tests/algorithms/meta/test_aggregates.py
  tests/algorithms/meta/test_describe.py
  tests/algorithms/meta/test_visual_block.py
Due: pylint

Add get config/input/values keys
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
Due: pylint

Refactor to input_data keys
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/meta/test_get_keys.py
Due: pylint, nbqa-mypy

Update docs + introduce check keys-state compatibility
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/structs/state.py
  src/skrough/typing.py
Due: pylint

Refactor to verbose_report in compatibility check
  src/skrough/typing.py
Due: pylint

Update get config/input_data/values keys tests
  tests/algorithms/meta/test_get_keys.py
Due: pylint

Refactor check compatibility + examples
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/typing.py
Due: pylint, nbqa-mypy

Add poetry config
  poetry.toml
Due: none

Add docs
  .binder/requirements.txt
  pyproject.toml
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
Due: pylint

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Check commit signing
  README.md
Due: none

Add docs
  src/skrough/checks.py
Due: pylint

Add init hook function docs
  src/skrough/algorithms/hooks/init_hooks.py
Due: pylint

Refactor to inspect keys
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/meta/test_get_keys.py
Due: pylint, nbqa-mypy

Add unify_locations docs
  src/skrough/unify.py
Due: pylint

Add dev temporal bireducts
  .gitignore
  .pre-commit-config.yaml
  dev/temporal_bireducts/evaluation_utils.R
  dev/temporal_bireducts/experiments.R
  dev/temporal_bireducts/experiments_utils.R
  dev/temporal_bireducts/temporal_bireducts.R
  dev/temporal_bireducts/temporal_bireducts_shuffling.R
  dev/todos.py
Due: pylint

Add dev wip old
  dev/wip_old/classify.py.txt
  dev/wip_old/decomposition.py.txt
  dev/wip_old/graph.py.txt
  dev/wip_old/rough.py.txt
  dev/wip_old/stat.py.txt
Due: none

Update rough figure
  docs/source/figures/rough.svg
Due: none

Update version number
  pyproject.toml
Due: none

remove poetry.lock
  .gitignore
  poetry.lock
Due: none

Update examples-to-pdf readme
  examples/README.md
Due: none

Restore poetry.lock
  .gitignore
  poetry.lock
Due: none

Fix CI issues
  .github/workflows/cicd.yml
Due: none

Refactor profile
  .pre-commit-config.yaml
  dev/profile/fast.py
  dev/profile/large.py
  dev/profile/slower.py
Due: pylint

Refactor dev
  .pre-commit-config.yaml
  dev/prezentacja.ipynb
  dev/xgboost.Rmd
  dev/xgboost.ipynb
Due: nbqa-mypy

Refactor dev
  dev/recursive.ipynb
Due: nbqa-mypy

Refactor dev
  dev/bbb.ipynb
  dev/ccc.ipynb
  dev/msprocessing.ipynb
Due: nbqa-mypy

Change split compress default to False
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/chaos_score.py
  src/skrough/structs/group_index.py
  tests/algorithms/hooks/test_inner_process_hooks.py
Due: pylint
