Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

pylint:
  name: pylint_examples
  entry: .venv/bin/pylint --rcfile .pylintrc_examples
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy
  entry: .venv/bin/nbqa mypy
  language: system
  require_serial: true

Refactor data
  data/data.py
  data/data/SPECT.names
  data/data/SPECT.test
  data/data/SPECT.train
  data/data/SPECTF.test
  data/data/SPECTF.train
  data/data/lymphography.all
  data/data/lymphography.data
  data/data/lymphography.names
  data/data/lymphography.test
  data/data/zoo.all
  data/data/zoo.data
  data/data/zoo.names
  data/data/zoo.small.names
  data/data/zoo.test
  data/resources/golf.csv
  data/resources/lymphography.data
  data/resources/lymphography.names
  data/resources/methane_data.csv
  data/resources/methane_labels.csv
  data/resources/zoo.data
  data/resources/zoo.names
Due: none

Remove old greedy bireducts
  src/skrough/algorithms/bireducts.py
Due: pylint

Get predictions from proba refactor
  src/skrough/predict/helpers.py
Due: pylint

Refactor check compatibility + examples
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/typing.py
Due: pylint, nbqa-mypy

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
Due: none

Refactor keys
  src/skrough/algorithms/key_names.py
Due: pylint

Add docs
  .binder/requirements.txt
  pyproject.toml
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
Due: pylint

Add get_attr_ranks + refactor
  src/skrough/ranks.py
Due: pylint

Fix CI issues
  .github/workflows/cicd.yml
Due: none

Add init hook function docs
  src/skrough/algorithms/hooks/init_hooks.py
Due: pylint

Sharp inequality in check_if_attr_better_than_shuffled
  src/skrough/attrs_checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/test_attrs_checks.py
Due: pylint

Parallel reducts greedy
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/constants.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/dataprep.py
Due: pylint

Restore poetry.lock
  .gitignore
  poetry.lock
Due: none

update gitignore
  .gitignore
Due: none

Add skrough TODO - add_shuffled_attrs
  src/skrough/dataprep.py
Due: pylint

Refactor to probes count
  dev/profile/large.py
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/attrs_checks.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/test_attrs_checks.py
Due: pylint

Refactor profile
  .pre-commit-config.yaml
  dev/profile/fast.py
  dev/profile/large.py
  dev/profile/slower.py
Due: pylint

Synthetic data generation
  dev/experiments/synthetic_data/synthetic.ipynb
Due: none

Fix n_bireducts argument name
  src/skrough/algorithms/bireducts.py
Due: pylint

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Refactor experiments
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/microarrays.ipynb
Due: pylint

Update pre-commit config
  .binder/requirements.txt
  .flake8
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc_examples
  dev/bbb.ipynb
Due: none

Add feature importance for bireducts
  .pylintrc
  src/skrough/feature_importance.py
  tests/test_feature_importance.py
Due: pylint

Toolbox experiments
  dev/experiments/ranks/experiments.ipynb
Due: none

Aim tracker testing
  dev/aim/aaa.ipynb
Due: none

Update get config/input_data/values keys tests
  tests/algorithms/meta/test_get_keys.py
Due: pylint

Add unify_locations docs
  src/skrough/unify.py
Due: pylint

Add bireduct greedy heuristic
  dev/approx_reduct_greedy.ipynb
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/finalize_hooks.py
  tests/algorithms/hooks/test_finalize_state_hooks.py
Due: pylint

Add DAAR reducts
  dev/approx_reduct_daar.ipynb
  dev/bbb.ipynb
  dev/profile/large.py
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_reduction.py
  tests/algorithms/hooks/test_init_state_hooks.py
Due: pylint, nbqa-mypy

Add alternative impl for feature importance
  dev/experiments/feature_importance.ipynb
  tests/test_feature_importance.py
Due: pylint

Refactor to input_data keys
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/meta/test_get_keys.py
Due: pylint, nbqa-mypy

Fix docs
  src/skrough/algorithms/hooks/common/process_elements.py
Due: pylint

Fix toolbox data
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
Due: pylint

Path conditions:
  pylint: (any of: \.py$ and not (^examples/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)) or (any of: ^examples/ and \.py$ and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
))
  nbqa-mypy: any of: \.ipynb$ and not (^dev/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)
