Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

pylint:
  name: pylint_examples
  entry: .venv/bin/pylint --rcfile .pylintrc_examples
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy
  entry: .venv/bin/nbqa mypy
  language: system
  require_serial: true

Add dev wip old
  dev/wip_old/classify.py.txt
  dev/wip_old/decomposition.py.txt
  dev/wip_old/graph.py.txt
  dev/wip_old/rough.py.txt
  dev/wip_old/stat.py.txt
Due: none

Refactor to inspect keys
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/algorithms/meta/processing.py
  src/skrough/algorithms/meta/stage.py
  src/skrough/typing.py
  tests/algorithms/meta/test_get_keys.py
Due: pylint, nbqa-mypy

Microarray experiments
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/microarrays_data.py
  dev/experiments/ranks/ranks_model_scores.py
  src/skrough/algorithms/bireducts.py
Due: pylint

Upgrade dependencies
  .binder/requirements.txt
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix toolbox data
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
Due: pylint

update gitignore
  .gitignore
Due: none

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Add DAAB bireducts
  dev/approx_reduct_daar.ipynb
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/reusables/attrs_daab.py
  tests/algorithms/hooks/test_stop_hooks.py
Due: pylint

Check commit signing
  README.md
Due: none

Add predict for bireduct ensemble
  dev/experiments/ranks/microarrays.ipynb
  src/skrough/predict.py
  tests/test_predict.py
Due: pylint

dev notebook
  dev/experiments/ranks/microarrays.ipynb
Due: none

Add alternative impl for feature importance
  dev/experiments/feature_importance.ipynb
  tests/test_feature_importance.py
Due: pylint

Add reusables - daar
  src/skrough/algorithms/reusable/__init__.py
  src/skrough/algorithms/reusable/daar.py
Due: pylint

Add lint tasks for poe
  pyproject.toml
Due: none

Synthetic data generation
  dev/experiments/synthetic_data/synthetic.ipynb
Due: none

Aim testing
  dev/aim/aaa.ipynb
  dev/aim/bbb.ipynb
Due: none

Pylint disable duplicate-code
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/reducts.py
Due: pylint

Microarrays experiments xgboost
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Update docs + introduce check keys-state compatibility
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/structs/state.py
  src/skrough/typing.py
Due: pylint

Fix n_bireducts argument name
  src/skrough/algorithms/bireducts.py
Due: pylint

Move experiments
  dev/experiments/feature_importance.ipynb
  dev/experiments/ranks/data_sources.py
  dev/experiments/ranks/experiments.ipynb
  dev/experiments/ranks/ranks_model_scores.py
  dev/experiments/ranks_vis/vis.ipynb
  dev/experiments/synthetic_data/synthetic.ipynb
Due: pylint

Ranks visualization tests
  dev/experiments/ranks_vis/vis.ipynb
Due: none

Add feature importance for bireducts
  .pylintrc
  src/skrough/feature_importance.py
  tests/test_feature_importance.py
Due: pylint

Update multi-stage example title
  .pre-commit-config.yaml
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
Due: pylint, nbqa-mypy

Add docs
  .binder/requirements.txt
  pyproject.toml
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
Due: pylint

Microarrays experiments
  dev/experiments/ranks/microarrays.ipynb
Due: none

Microarrays experiments
  .gitignore
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/ranks_model_scores.py
Due: pylint

Update rough figure
  docs/source/figures/rough.svg
Due: none

Toolbox experiments
  dev/experiments/ranks/experiments.ipynb
Due: none

Add ranks related functions
  dev/approx_reduct_daar.ipynb
  dev/experiments/ranks/microarrays.ipynb
  dev/experiments/ranks/microarrays_data.py
  dev/experiments/ranks/ranks_model_scores.py
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/reducts.py
  src/skrough/dataprep.py
  src/skrough/ranks.py
  tests/test_dataprep.py
Due: pylint

Add docs
  src/skrough/checks.py
Due: pylint

Add predict functions + refactor
  dev/experiments/ranks/microarrays.ipynb
  src/skrough/__init__.py
  src/skrough/algorithms/meta/describe.py
  src/skrough/predict/__init__.py
  src/skrough/predict/aggregate.py
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  src/skrough/typing.py
  tests/test_predict.py
Due: pylint

Update pre-commit config
  .binder/requirements.txt
  .flake8
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc_examples
  dev/bbb.ipynb
Due: none

Add attr reduction stage
  dev/bbb.ipynb
  dev/reduction.ipynb
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/hooks/helpers.py
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/hooks/inner_stop_hooks.py
  src/skrough/algorithms/hooks/pre_candidates_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reusables/__init__.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_greedy.py
  src/skrough/algorithms/reusables/attrs_reduction.py
Due: pylint

Path conditions:
  pylint: (any of: \.py$ and not (^examples/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)) or (any of: ^examples/ and \.py$ and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
))
  nbqa-mypy: any of: \.ipynb$ and not (^dev/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)
