Repository sebov/scikit-rough: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, nbqa-mypy

pylint:
  name: pylint_examples
  entry: .venv/bin/pylint --rcfile .pylintrc_examples
  language: system
  require_serial: true

nbqa-mypy:
  name: nbqa-mypy
  entry: .venv/bin/nbqa mypy
  language: system
  require_serial: true

Fix unique-related warnings
  src/skrough/algorithms/meta/aggregates.py
Due: pylint

Restore actual permutations
  src/skrough/attrs_checks.py
Due: pylint

Add fast mode DAAR
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/attrs_checks.py
  src/skrough/logs.py
  tests/test_attrs_checks.py
Due: pylint

Predict using actual labels
  src/skrough/dataprep.py
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_objs_attrs.py
Due: pylint

Predict using actual labels
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
Due: pylint

Predict using actual labels - ensembles
  src/skrough/dataprep.py
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  src/skrough/unique.py
Due: pylint

Predict using actual labels - refactor
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
Due: pylint

Add predict strategy majority
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  tests/test_predict.py
Due: pylint

Add DAAR params in bireducts
  src/skrough/algorithms/bireducts.py
Due: pylint

Version bump
  pyproject.toml
Due: none

Performance improvements (#42)
  pyproject.toml
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/meta/aggregates.py
  src/skrough/algorithms/reducts.py
  src/skrough/attrs_checks.py
  src/skrough/dataprep.py
  src/skrough/logs.py
  src/skrough/predict/helpers.py
  src/skrough/predict/predict_attrs.py
  src/skrough/predict/predict_attrs_ensemble.py
  src/skrough/predict/predict_objs_attrs.py
  src/skrough/predict/predict_objs_attrs_ensemble.py
  src/skrough/unique.py
  tests/test_attrs_checks.py
  tests/test_predict.py
Due: pylint

Change chaos to disorder
  dev/profile/large.py
  examples/checks.ipynb
  examples/checks.py
  examples/feature_importance.ipynb
  examples/feature_importance.py
  examples/processing_multi_stage.ipynb
  examples/processing_multi_stage.py
  src/skrough/__init__.py
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/filter_hooks.py
  src/skrough/algorithms/hooks/helpers.py
  src/skrough/algorithms/hooks/init_hooks.py
  src/skrough/algorithms/hooks/select_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
  src/skrough/algorithms/key_names.py
  src/skrough/algorithms/reducts.py
  src/skrough/algorithms/reusables/attrs_daar.py
  src/skrough/algorithms/reusables/attrs_greedy.py
  src/skrough/attrs_checks.py
  src/skrough/checks.py
  src/skrough/disorder_measures/__init__.py
  src/skrough/disorder_measures/disorder_measures.py
  src/skrough/disorder_measures/gini_impurity_cython.pyx
  src/skrough/disorder_score.py
  src/skrough/feature_importance.py
  src/skrough/structs/chaos_score_stats.py
  src/skrough/structs/disorder_score_stats.py
  src/skrough/structs/group_index.py
  src/skrough/typing.py
  tests/algorithms/hooks/test_filter_hooks.py
  tests/algorithms/hooks/test_init_state_hooks.py
  tests/algorithms/hooks/test_select_hooks.py
  tests/algorithms/hooks/test_stop_hooks.py
  tests/structs/group_index/test_distribution_and_chaos_score.py
  tests/test_attrs_checks.py
  tests/test_chaos_measures.py
  tests/test_chaos_score.py
  tests/test_checks.py
  tests/test_feature_importance.py
Due: pylint, nbqa-mypy

Fix bireducts greedy heuristic
  pyproject.toml
  src/skrough/algorithms/bireducts.py
Due: pylint

Refactor threshold checking functions
  poetry.lock
  src/skrough/algorithms/bireducts.py
  src/skrough/algorithms/hooks/helpers.py
  src/skrough/algorithms/hooks/inner_process_hooks.py
  src/skrough/algorithms/hooks/stop_hooks.py
Due: pylint

Refactor
  .binder/requirements.txt
  .pre-commit-config.yaml
  dev/toolbox/toolbox_1/view_evals.ipynb
  dev/toolbox/toolbox_4/view_evals.ipynb
  tests/algorithms/meta/test_processing.py
Due: pylint

Cleanup
  .pre-commit-config.yaml.old
  README.md
  poetry.lock
  pyproject.toml
Due: none

Cleanup
  .github/workflows/cicd.yml
Due: none

Cleanup
  .flake8
  .github/workflows/ignore_gh_actions_schema.json
  .isort.cfg
  .pre-commit-config.yaml
  .pydocstyle
  .pylintrc
  .pylintrc_examples
  mypy.ini
  sonar-project.properties
Due: none

Cleanup
  poetry.lock
  pyproject.toml
  ruff.toml
Due: none

Cleanup
  pyproject.toml
  src/skrough/algorithms/key_names.py
  src/skrough/dataprep.py
  src/skrough/weights.py
Due: pylint

Cleanup
  poetry.lock
  pyproject.toml
  src/skrough/unify.py
Due: pylint

Cleanup
  .pre-commit-config.yaml
Due: none

Cleanup
  .binder/requirements.txt
  .pre-commit-config.yaml
Due: none

Path conditions:
  pylint: (any of: \.py$ and not (^examples/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)) or (any of: ^examples/ and \.py$ and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
))
  nbqa-mypy: any of: \.ipynb$ and not (^dev/) and not ((?x)^(
  docs/conf[.]py
  | data/.*
)$
)
